.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .dashboard-segment {
    width: 660px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .first-segment {
    background-color: #00ADB5;
    color: #fff;
  }
}